<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA3w4MNaaekmL3Vc_YUxeNQLV4SKi98RRw</string>
	<key>GCM_SENDER_ID</key>
	<string>926947851971</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gjust.aman.hackuniv</string>
	<key>PROJECT_ID</key>
	<string>hackuniv-48d50</string>
	<key>STORAGE_BUCKET</key>
	<string>hackuniv-48d50.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:926947851971:ios:2dda4670f61be334e3ac76</string>
</dict>
</plist>